body {
    padding: 0;
    margin: 0;
    background-color: #060327;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    background-color: #664997;
    padding: 40px;
    border-radius: 2px;
    width: 280px;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #060327;
}

.card-header::after {
    content:"";
    width: 70px;
    height: 1px;
    background-color: #FBDC76;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {
    color: #060327;
    font-size: 12px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: #060327 ;
    border: none;
    color: #fff;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit {
    width: 100%;
    height: 40px;
    background-color: #FBDC76;
    border: none;
    color: #e1e1e1;
    margin: 10px 0;
}

.card-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}