.style3 {
    font-size: 14px; 
    font-family: Arial, 
    Helvetica, sans-serif;
}
.style4 {
    font-size: 14px; 
    font-family: Arial, 
    Helvetica, sans-serif; 
    font-weight: bold; 
}
.style8 {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 36px;
	font-weight: bold;
}
.style10 {
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
}
.style12 {
	font-weight: bold;
	font-size: 14px;
	color:#FFFFFF;
	text-decoration:none;
 }
.style13 {
	color: #FFFFFF;
	font-size: 70px;
}
.style14 {
	font-size: 50px
}
.style17 {
	font-size: 24px;
	font-family: Questrial;
	color: #FFFFFF;
}
.style18 {
	color: #FFFFFF;
	font-family: Questrial;
	font-size: 14px;
}
.style19 {
    color: #FFFFFF
}
.style20 {
    font-family: "Times New Roman", Times, serif; 
    color: #FFFFFF; 
}
.style21 {
    color: #060327
}
.style22 {
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #FFFFFF; 
}
.style23 {
	font-size: 36px;
	color: #664997;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
}
.style24 {
    font-size: 14px; 
    font-family: "Times New Roman", Times, serif; 
    font-style:italic; 
    color: #FFFFFF; 
}
.style25 {
    font-size: 14px
}
.style26 {
	font-weight: bold;
	font-size: 14px;
	color:#664997;
	text-decoration:none;
 }
 .style27 {
    font-family: "Times New Roman", Times, serif
}